<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title><%= title%></title>
    </head>
    <!-- streetFight  -->
    <script type="text/javascript" src="/javascripts/streetFighter/config.js"></script>
    <script type="text/javascript" src="/javascripts/streetFighter/util.js"></script>
    <script type="text/javascript" src="/javascripts/streetFighter/interface.js"></script>
    <script type="text/javascript" src="/javascripts/streetFighter/ai.js"></script>
    <script type="text/javascript" src="/javascripts/streetFighter/class.js"></script>
    <script type="text/javascript" src="/javascripts/streetFighter/timer.js"></script>
    <script type="text/javascript" src="/javascripts/streetFighter/map.js"></script>
    <script type="text/javascript" src="/javascripts/streetFighter/main.js"></script>
    <script type="text/javascript" src="/javascripts/streetFighter/game.js"></script>
    <body>

    </body>
</html>