<!DOCTYPE html>
<html lang="zh-CN" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>首页</title>
</head>

<body onload="showTime()">
<div class="navbar-wrapper">
    <div class="container">
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a class="brand" href="#">个人学习网站</a></li>
                        <li class="active"><a href="#">首页</a></li>
                        <li><a href="#aboutMe">关于我</a></li>
                        <li><a href="#contact">联系我</a></li>
                        <li><a href="/home/upload">上传功能</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">帮助 <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">企业</a></li>
                                <li class="divider"></li>
                                <li class="nav-header">二级菜单</li>
                                <li><a href="#">分割线1</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">     <!-- 左侧右侧翻页点击 -->
        <div class="item active">
            <img src="/images/examples/slide-01.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1>欢迎<%= user_name%>登录系统</h1>
                    <p class="lead" id='time' ></p>
                    <a class="btn btn-large btn-primary" href="/loginOut">退出</a>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/images/examples/slide-02.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1>欢迎来到网龙网络公司</h1>
                    <p class="lead">**处</p>
                    <a class="btn btn-large btn-primary" href="http://ioa.99.com">ERP系统</a>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="/images/examples/slide-03.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h1>爱网龙，爱QA</h1>
                    <p class="lead">ID ： 100013</p>
                    <a class="btn btn-large btn-primary" href="http://777.nd.com.cn">网龙内网</a>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

</div>
<div class="container-login">
    <!--  旋转宽 -->
</div>
<article class="container">
    <section class="row" id="aboutMe">
        <div class="span12 panel" style="display: block;">
            <div class="row">
                <div class="span6">
                    <div class="block-left">
                        <h1>Some - About - Me</h1>
                        <p class="wo">低头亲吻我的左手，换取被宽恕的承诺， 老旧管风琴在角落，一直一直一直伴奏，黑色帘幕被风吹动，阳光无言地穿透</p>
                        <br>
                        <p class="wo">洒向那群被我驯服后的兽， 沉默地喊叫沉默地喊叫，孤单开始发酵，不停对着我嘲笑，回忆逐渐燃烧。曾经纯真的画面， 残忍地温柔出现，脆弱时间到，我们一起来祷告，仁慈的父我已坠入，看不见罪的国度，请原谅我的自负</p>
                        <br>
                        <a data-toggle="modal" href="#aboutMaps">关于周杰伦</a>

                        <!-- Modal -->
                        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal hide fade" id="aboutMaps">
                            <div class="modal-header">
                                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                <h3 id="myModalLabel">关于周杰伦</h3>
                            </div>

                            <div class="modal-body">
                                <p>周杰伦数据来自 <a target="_blank" href="http://www.naturalearthdata.com/">Natural Earth</a></p>
                                <p>该地图为中华人民共和国地图，并非中国地图，故无台湾。</p>
                                <p class="text-error">· <small>以中华人民共和国直接统治区域和有效管辖领土为准，若对此有异议，请参考 Wikipedia 中的 <a target="_blank" href="http://zh.wikipedia.org/wiki/%E4%B8%AD%E5%9B%BD_(%E6%B6%88%E6%AD%A7%E4%B9%89)">中国</a>、<a target="_blank" href="http://zh.wikipedia.org/wiki/%E4%B8%AD%E5%9C%8B%E5%A4%A7%E9%99%B8">中国大陆</a>、<a target="_blank" href="http://zh.wikipedia.org/wiki/%E4%B8%AD%E5%8D%8E%E4%BA%BA%E6%B0%91%E5%85%B1%E5%92%8C%E5%9B%BD">中华人民共和国</a> 和 <a target="_blank" href="http://zh.wikipedia.org/wiki/%E4%B8%AD%E8%8F%AF%E6%B0%91%E5%9C%8B">中华民国</a> 等条目。</small></p>

                                <hr class="soften">

                                <h4>关于坐标点数据</h4>
                                <p>地图中以红点标示的为我曾到达过的城市，其中：</p>
                                <ul>
                                    <li><p>若新到达的城市旁已有相邻的曾到达城市，且经度和（或）纬度相差小于 1° 的，仅标示最先到达的城市；</p></li>
                                    <li><p>2009 年或更早的坐标信息，来源于在 Google 地图 查询中到的该城市坐标，2010 年后的坐标信息来源于使用 iPhone 在当地所拍摄照片时所记录的 GPS 信息；</p></li>
                                    <li><p>坐标点和其中所标出的到达年份为非完整数据；</p></li>
                                    <li><p>最后更新时间：2013 年 5 月</p></li>
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button aria-hidden="true" data-dismiss="modal" class="btn">关闭</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="row" id="apple">
        <div class="span12 panel relative" style="display: block;">
            <img src="/images/ribbon-apple.png" class="ribbon-apple">
            <div class="row">
                <div class="span6" style="margin-top: 50px;">
                    <img src="/images/streetFighter/index.png" class="ipad-news">
                </div>

                <div class="span6">
                    <div class="padding-huge">
                        <h2 style="margin-top: -10px">街头霸王游戏</h2>
                        <p class="wo">
                            <span style="color: #ff82aa">主机:</span> W: 上, D: 前, A: 后, S：下</br>
                            攻击: J: 轻拳, K: 重拳, U: 轻腿, I: 重腿</br>
                            技能: 下→前→拳: 波动拳, 下→后→腿：旋风腿,</br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp前→下→前→拳：升龙拳</br>
                            <span style="color: #ff82aa">副机（小键盘）:</span>↑: 上, ←: 前, →: 后, ↓：下</br>
                            攻击: 1: 轻拳, 2: 重拳, 4: 轻腿, 5: 重腿</br>
                            技能: 下→前→拳: 波动拳, 下→后→腿：旋风腿,</br>&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp前→下→前→拳：升龙拳</br>
                            按F2暂停游戏, 1键大战电脑AI, 2键双人对打. </p>
                        <a target="_blank" href="/home/game" class="visible-desktop">游戏页面(声音有点大)»</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="row" id="contact">
        <div class="span12 panel" style="display: block;">
            <div class="row">
                <div class="span12">
                    <div class="padding-large">
                        <h1>联系</h1>
                        <div class="muiti-contact">
                            &nbsp&nbsp<span>dojavaee@163.com</span>
                            </br></br>
                            <span>love7pian@163.com</span>
                        </div>
                    </div>
                </div>

                <div class="span12">
                    <div class="padding-large">
                        <div class="sns">
                                <div class="sns-container">
                                    <a target="_blank" href="http://weibo.com/220745660">
                                        <div title="新浪微博" class="sns-icon">
                                            <img src="/images/SinaWeibo.png">
                                        </div>
                                    </a>
                                    <a target="_blank" href="javascript:void(0)">
                                        <div title="微信" data-toggle="modal" data-target="#myModal" class="sns-icon">
                                            <img src="/images/wechat.png"></div>
                                    </a>
                                    <a target="_blank" href="javascript:void(0)">
                                        <div title="QQ" class="sns-icon qq"><img src="/images/qq.png"></div>
                                    </a>
                                    <a target="_blank" href="javascript:void(0)">
                                        <div title="phone" class="sns-icon phone"><img src="/images/phone.png"></div>
                                    </a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
<div class="container marketing" id="about">
    <footer>
        <div id="back-to-top"><a href="#"><img src="/images/rocket.png"  /></a></div>
        <div style="text-align: center">
            <span >Designed and Developed by</span>
            <span style="color: #2e4ed9">YuNong Chen</span>
            <div>Copyright © 2016<span style="color: #2e4ed9"> 91like.cn</span> All Rights Reserved.</div>
            <div>闽 ICP 备 16004256 号</div>
        </div>
    </footer>
</div>


<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    微信二维码
                </h4>
            </div>
            <div class="modal-body">
                     <div style="text-align: center">
                        <h4>ID：maiomiao940420</h4>
                        <img align="middle"  src="/images/wechat.jpg">
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div><!-- /.modal -->

</body>
<link rel="stylesheet" type="text/stylesheets" href="/stylesheets/bootstrap-responsive.min.css"/>
<link rel="stylesheet" type="text/stylesheets" href="/stylesheets/bootstrap.min.css"/>
<link rel="stylesheet" type="text/stylesheets" href="/stylesheets/bootstrap-select.min.css"/>
<link rel="stylesheet" type="text/stylesheets" href="/stylesheets/common.css"/>
<link rel="stylesheet" type="text/stylesheets" href="/stylesheets/fileinput.css"  media="all" />
<link rel="stylesheet" type="text/stylesheets" href="/stylesheets/justToolsTip.css" />
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.cityselect.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/javascripts/fileinput.js"></script>
<script type="text/javascript" src="/javascripts/fileinput_locale_zh.js"></script>
<script type="text/javascript" src="/javascripts/utils.js"></script>
<script type="text/javascript" src="/javascripts/justToolsTip.js"></script>



<script language="javascript">
    $(".qq").click(function(){
        var _this = $(this);
        _this.justToolsTip({
            animation:"flipIn",
//            contents:_this.text(),
            contents:'QQ:363150761',
            gravity:'top'
        });
    })
    $(".phone").click(function(){
        var _this = $(this);
        _this.justToolsTip({
            animation:"flipIn",
            contents:'134-5918-9366',
            gravity:'right'
        });
    })
    window.setInterval('showTime()',1000);
</script>
</html>
