
<html>
<head>
	 <title><%= title %></title>
</head>
<link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<body id="particles-js"> <!-- 来作为放置粒子的容器。 -->
<div style=""></div>
    <div id="nav-bar">
        <div class="nav-head">
            <a href="#"><div style="margin-top: 12px;margin-left: 30px;float: left;">
                    <!-- <img src="/images/NDlogo.png" style="height: 25px;">    --></div></a>
        </div>
    </div>
<div style="z-index: 1000;position: absolute;top:15%;left :50%;margin: 0 0 0 -190px;">
    <div style="margin-left: auto;margin-right: auto;width: 300px;height:480px;text-align: center;background-color: rgba(50,50,50,0.6);padding: 20px 40px 60px 40px;position: relative;">
        <div style="margin-top: 5px;margin-bottom: 10px;color:#ccc;font-size: 14px;font-weight: 600;">输入注册信息 </div>
        <div style="display: block;height: 340px;margin-bottom: 10px;">
            <form action="/accounts/register/" method="post" id="reg_form" name="regForm"  enctype='multipart/form-data'>
                <div style="float: left;">
                    <div style="width: 290px;float: left;line-height: 25px;text-align: left;padding-left: 5px;">用户名: </div>
                    <input class="login-input all-radius required" maxlength="15" autofocus type="text" id="username"  name="username" placeholder="3-15 位数字英文组合"/>
                    <span class="formtips onSuccess"></span>
                </div>
                <div style="float: left;">
                    <div style="width: 290px;float: left;line-height: 25px;text-align: left;padding-left: 5px;">密码: </div>
                    <input class="login-input all-radius required" maxlength="25" type="password" id="password" name="password"  placeholder="输入密码" />
                    <div class="pwdLine" id='pwdLevel_1'> </div>
                    <div class="pwdLine" id='pwdLevel_2'> </div>
                    <div class="pwdLine" id='pwdLevel_3'> </div>
                    <div class="pwdStrong"> 弱</div>
                    <div class="pwdStrong"> 中</div>
                    <div class="pwdStrong"> 强</div>
                    <span class="formtips onSuccess" id="complexity"></span>
                </div>
                <div style="float: left;">
                    <div style="width: 290px;float: left;line-height: 25px;text-align: left;padding-left: 5px;">确认密码: </div>
                    <input class="login-input all-radius required" maxlength="25" type="password" id="password2" name="password2" placeholder="验证密码"/>
                </div>
                <div id="city" style="float: left;margin: 10px auto;">
                    <div style="width: 290px;float: left;line-height: 25px;text-align: left;padding-left: 5px;">地区: </div>
                    <select class="prov"  style="width:75px; float: left;height: 33px;" ></select>
                    <select class="city"  style="width:85px; float: left;height: 33px;margin: auto 20px;"  disabled="disabled"></select>
                    <select class="dist"  style="width:100px; float: left;height: 33px;"  disabled="disabled"></select>
                </div>
                <!--<div style="float: left">-->
                    <!--<div style="width: 290px;float: left;line-height: 37px;text-align: left;padding-left: 5px;">Email: </div>-->
                    <!--<input class="login-input all-radius" type="text" name="email" placeholder="用来接收发送验证邮件" value="">-->
                <!--</div>-->
                <!--<div style="float: left;" id="upload">-->
                    <!--<div style="width: 290px;float: left;line-height: 25px;text-align: left;padding-left: 5px;">上传你的靓照:-->
                        <!--<input type="file" name="file" multiple="multiple"  accept="image/*"/>-->
                        <!--<progress></progress>-->
                    <!--</div>-->
                <!--</div>-->
                <div onclick="register();" type="submit" class="login-in-btn" style="margin-top: 30px;float: left;">注册</div>
                <div onclick="history.go(-1);" type="button" class="sign-up-btn" style="margin-top: 15px;float: left;">返回</div>
            </form>
        </div>
    </div>
</div>
<div style="position: fixed;bottom:20px;width: 100%;">
    <div class="footbar" style="padding-bottom:20px;text-align: center;">
        <div>Designed and Developed by <span style="color: #ff65b8">YuNong Chen.</span></div>
        <div>Copyright © 2016<span style="color: #ff65b8"> 91like.cn</span> All Rights Reserved.</div>
        <div>闽 ICP 备 16004256 号</div>
        <img src="/images/dog.png" style="width:40px;margin: 10px 0 -20px 0;" class="max_logo breath">
        <img src="/images/dogMouth.png" style="width:40px;margin: 10px 0 -20px 0;" class="max_logo breath">
        <img src="/images/cat.png" style="width:40px;margin: 10px 0 -20px 0;" class="max_logo breath">
    </div>
</div>
</div>
</body>

<link rel='stylesheet' href='/stylesheets/style.css' />
<script type="text/javascript" src="/javascripts/jquery.js"></script>>
<script type="text/javascript" src="/javascripts/jquery.cityselect.js"></script>
<script type="text/javascript" src="/javascripts/particles.min.js"></script>
<script type="text/javascript" src="/javascripts/particles.config.js"></script>
<script type="text/javascript" src="/javascripts/pwdStrong.js"></script>
<script type="text/javascript">
    var num = parseInt(Math.random()*6+1);  // 背景图片的动态更换
    //       document.body.style.backgroundImage="url(/images/img"+num+".jpg)";
    document.body.style.backgroundImage="url(/images/img6.jpg)";
    //<![CDATA[
    $(function(){
        //如果是必填的，则加红星标识.
        $("form :input.required").each(function(){
            var $required = $("<strong class='high'></strong>"); //创建元素
            $(this).parent().append($required); //然后将它追加到文档中
        });
        //文本框失去焦点后
        $('form :input.required').blur(function(){
            var $parent = $(this).parent();
            $parent.find(".formtips").remove();
            //验证用户名
            if( $(this).is('#username') ){
                if( this.value!="" && this.value.length <=15  && this.value.length>=3 && /^[A-Za-z0-9]+$/.test(this.value)){
                    var okMsg = '输入正确';
                    $parent.append('<span class="formtips onSuccess">'+okMsg+'</span>');
                }else{
                    var errorMsg = '3-15位数字英文组合';
                    $parent.append('<span class="formtips onError">'+errorMsg+'</span>');
                }
            }
            //密码

            if( $(this).is('#password') ){
                if( this.value!=""){
//                    var okMsg = '输入正确';
//                    $parent.append('<span class="formtips onSuccess">'+okMsg+'</span>');
                }else{
                    var errorMsg = '密码不能为空';
                    $parent.append('<span class="formtips onError">'+errorMsg+'</span>');
                }
            }
        });

        $("#city").citySelect({  //省级联动
            prov:"福建",
            city:"福州",
            dist:"鼓楼区",
            nodata:"none"
        });
    });

    function register(){
        var username 	= document.getElementById("username").value;
        var password 	= document.getElementById("password").value;
        var password2 	= document.getElementById("password2").value;
        if (password != password2) {
            alert( "二次密码输入不对！");
        } else if (username == null || username.length == 0 || password == null || password.length == 0) {
            alert("用户名或密码不能为空！");
        } else if(/.*[\u4e00-\u9fa5]+.*$/.test(password)) {
            alert("密码不能为汉字！");
        } else if (username.length <=15  && username.length>=3
                && /^[A-Za-z0-9]+$/.test(username)){
            var regURL   =   'regAction';
            var area     =   '';
            var prov 	 =   $("#city").children("select").each(
                    function()
                    {
                        if($(this).val()!=null)
                            area+=$(this).val();
                    }
            );
            var regObj =
            {
                "username"		:		username,
                "password"		:		password,
                "area"		    :		area,
                "regDate"		:		new Date().getTime(),
                "userAgent"     :       navigator.userAgent
                };
            jQuery.post(regURL,regObj,function regCallback(jsonData){
                var regFlag	 = 	jsonData.regFlag;
                if (regFlag == 'false'){
                    alert(jsonData.message);
                }else{
                    window.location.href = '/userLogin';
                }
            },"json");
        }else{
            alert("请按标准填写正确的用户名！");
        }
    }
    //]]>
</script>
</html>
